* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 5vh 10vw;
}

label {
    font-weight: 600;
    display: block;
}

.required::after {
    content: " *";
    color: red;
}

input {
    padding: 5px 3px;    
    width: 40.5vw;
    margin: 1vh 0 3vh 0;
}

input:focus {
    border: 2px solid rgb(42, 153, 142);
    outline: none;
}

.inputName {
    width: 20vw;
}

select {
    padding: 5px 3px;    
    width: 40.5vw;
    margin: 1vh 0 3vh 0;
    background-color: rgb(244, 242, 242);
}

select:focus {
    border: 2px solid rgb(42, 153, 142);;
    outline: none;
}

textarea {
    padding: 5px 5px;    
    width: 40.5vw;
    margin: 1vh 0 3vh 0;
    line-height: 1.2rem;
}

textarea:focus {
    border: 2px solid rgb(42, 153, 142);;
    outline: none;
}

.submit {
    display: block;
    background-color: rgb(42, 153, 142);;
    border: none;
    color: white;
    padding: 8px 0;    
}

.submit:hover {
    background-color: rgb(24, 94, 87);;

}

.submit:active {
    background-color: gray;
    border: none;
}


